
.Nav {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10px;
    background: blueviolet;
    color: white;
    font-size: 20px;
  }

  .navBar {
    text-decoration:none;
    color: white;
    border: 2px solid blueviolet;
    border-radius: 10px;

}
   
  
  
  .navBar :hover{
    color: #BADA55;
    transition: all .2s ease-in-out;
    transform: scale(1.2) 
  }
  