
body{
    background-color: thistle;
}
 

.App {
  text-align: center;
  

}


.Nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10px;
  background: blueviolet;
  color: white;

}

.unorderedList{
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

li {
  padding: 10px;
}


/*div Tags*/

.countryListWrapper {
  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* justify-content: space-evenly; */
  justify-content: center;
  
}




/* LINK AND A TAGS */
.navBar {
  text-decoration:none;
  color: white;
}

.navBar :hover{
  color: red;
}

.countryNames {
  text-decoration: none;
  color: black;
  padding: 0 15px;
}

.countryNames:hover{
  color: red;
  flex-grow: 2;
}

