
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto&display=swap');


body{
    background-color: rgb(185, 172, 152);
   animation: pulse 5s infinite;
   display: flex;
   flex-flow: column nowrap;
   font-family: 'Righteous', cursive;  
   color: black;
   font-family: 'Roboto', sans-serif;

}

@keyframes pulse {
  
      /* 0% {
          background-color: rgb(165, 196, 165);
      } */
      0% {
          background-color:  rgb(187, 162, 132);
      }
      50% {
          background-color: rgb(185, 172, 152);
      }
      100% {
             background-color:  rgb(187, 162, 132);
      }
  }
 

.App {
  text-align: center;
}


.Nav {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10px;
  /* background: black; */
  color: white;
  font-size: 20px;
}

.unorderedList{
  width: 65%;
  display: flex;
  justify-content: center;
  list-style: none;
}

li {
  padding: 10px;
}


/*div Tags*/

.countryListWrapper {
  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 10px 30px;
  /* justify-content: flex-start; */
  max-height: 2000px;
  /* background-image: url("https://c4.wallpaperflare.com/wallpaper/888/200/919/earth-black-background-world-map-the-continent-wallpaper-preview.jpg"); */
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
}


form {
    font-weight: 800;
    transform: translateX(-10px)
}

#countryName{
    font-weight: 25px;
    font-size: 20px;
}

#title{
    color: rgb(44, 41, 38);
    font-size: 40px;
    font-family: 'Righteous', cursive;  
}

h2 {
    font-size: 25px;
}

h4 {
    padding: 10px;
    font-size: 15px;
}




/* LINK AND A TAGS */
.navBar {
    text-decoration:none;
    color: white;
    /* border: 2px transparent blueviolet; */
    border-radius: 10px;
    transform: translateX(25%)
}

.navBar:hover{
  
    transition: all .1s ease-in-out;
    /* transform: scale(1.1)  */
  }

.countryNames {
  text-decoration: none;
  color: black;
  padding-right: 15px;
  /* padding-left: 15px;
  /* padding-bottom: 0px; */ 
  font-size: 24px;
  font-weight: 900;
}

.countryNames:hover{
    color: rgb(33, 35, 175);
    /* flex-grow: 1; */
    transition: all .2s ease-in-out;
    transform: scale(1.1);
}

h6 {
    margin: 5px 20px;
    padding: 5px 5px;
    border: 1px solid transparent;  
}

h6:hover{
    border: 1px solid gold;  
    border-radius: 10px;
}


/* Styling the form */

.formLabel {
 
    font-weight: 800;
    font-size: 15px;
    color: black;
    padding: 10px;
}

.formDiv {
    background-color:   rgb(244, 206, 244);
    display: inline-block;
    border-radius: 2px;
}

input {
    padding: 5px;
    background:  rgba(175, 173, 175, 0.973);
    color: black;
    font-weight: 800;
    border: none;
    outline: none;
    font-size: 15px;
    border-radius: 6px;
}


/* Styling Button */


button {
    font-weight: 800;
    font-size: 14px;
    border-radius: 5px;
    padding:4px 25px;
    border: none;
    cursor: pointer;
    outline: none;
    border: none;
    box-shadow: 0 5px 5px rgb(62, 62, 62);
    margin: 0 10px;
    transform: translateY(-2px);
    background-color: rgb(113, 147, 249);
    color: black;
}

button:hover {
    background-color: rgb(125, 49, 51);
    color: white;
}

button:active {
    box-shadow: 0 1px rgb(62, 62, 62);
    transform: translateY(2px);
    
}

.buttonSearch {
    /* background-color: blueviolet; */
    /* color: white; */
}

/* .buttonHome {
    /* background-color: rgb(113, 147, 249); */
/* } */

/* .buttonCountry {
} */



@media only screen and (max-width: 600px) {
    
    .countryListWrapper {
  
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
        padding: 10px;
        /* justify-content: flex-start; */
        max-height: 2000px;
        background-image: url("https://c4.wallpaperflare.com/wallpaper/888/200/919/earth-black-background-world-map-the-continent-wallpaper-preview.jpg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position-x: center;
      }
      form {
          display: inline-flex;
          flex-direction: column;
          align-items: center;
          transform: translateX(3%);
      }
      input {
          margin: 10px;
      }

  }